body {
  font-family: MTGSans, serif;
}

.next-event-name {
  text-align: center;
}
.next-event-img {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}
.events {
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  justify-content: flex-start;
}

/*!
  Customs CSS stylesheet
 */
.events-calendar-link {
  padding: initial;
  text-align: right
}
.load-tests-search-bar {
  background: transparent;
  border: none;
  border-bottom: #ffffff 1px solid;
  border-radius: 0rem;"
}

.load-tests-search-bar:focus {
  background: transparent;
  border: none;
  border-bottom: #ffffff 2px solid;
  border-radius: 0rem;"
}

.page-title {
  text-align: center;
  letter-spacing: 0;
  font-weight: 700;
  color: #f1f1f1;
}

.card-row:not(:first-child) {
  margin-top: 7%;
  display: flex;
  justify-content: left;
  flex-flow: row wrap;
  align-items: stretch;
}

.card-title {
  text-align: center;
  min-width: 200px;
  /*min-height: 45px;*/
  /*font-family: MTG Sans,Helvetica,Arial,sans-serif;*/
  font-size: 1em;
  line-height: 1em;
  letter-spacing: 0;
  font-weight: 700;
  color: #f1f1f1;
}

.card-block {
  background-image: url('assets/images/Bundesliga.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 260px;
  height: 200px;
  -webkit-box-shadow: inset 0px -35px 15px -5px #212529;
  box-shadow: inset 0px -35px 15px -5px #212529;
  border-radius: .25rem .25rem 0rem 0rem;"
}

.card-text {
  text-align: center;
  min-width: 200px;
  min-height: 45px;
  /*font-family: MTG Sans,Helvetica,Arial,sans-serif;*/
  font-size: 1em;
  line-height: 1em;
  letter-spacing: 0;
  font-weight: 200;
  color: #f1f1f1;
}

.see-results-button {
  color: #f9f9fb;
  background-color: #6c6;
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
  font-size: 16px;
  line-height: 55px;
  letter-spacing: 0;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  display: inline-block;
  height: 55px;
  min-width: 100px;
  padding: 0 50px;
  margin-top: 5%;
}

.card-body {
  background: transparent;
  border: 1px solid #212529;
  max-width: 305px;
}

body {
  background-color: #EEEEEE;
}

.layout-margin-8 {
  margin: 1% 4%;
}
.card {
  /*padding: 10%;*/
}

.card-img-top-custom {
  width: 50%;
  margin: 0 auto;
}

/*.card-title {*/
/*  text-align: center;*/
/*  min-width: 200px;*/
/*  min-height: 45px;*/
/*}*/

.card-shadow {
  -webkit-box-shadow: 0px 0px 28px 14px rgba(232,232,232,1);
  -moz-box-shadow: 0px 0px 28px 14px rgba(232,232,232,1);
  box-shadow: 0px 0px 28px 14px rgba(232,232,232,1);
}

.card-deck {
  display: flex;
  justify-content: left;
  flex-flow: row wrap;
  align-items: stretch;
}

.card {
  /*padding: 3% 1.5% !important;*/
  border: 1px solid #212529;
  max-width: 305px;
  /*flex-grow: 0;*/
}

@media (min-width: 768px) {
  .form-control {
    width: 500px !important;
    height: 50px;
  }
}

.bg-blue {
  background-color: #005EB8;
}

.pinned {
  position: absolute;
  max-width: 15px;
  max-height: 15px;
  z-index: 999;
}

.nav-item {
  padding-right: 2px;
  padding-left: 2px;
}


.modal-dialog {
  min-width: 1170px !important;
  height: 600px !important;
}

.modal-content {
  height: 60%;
  background-color: #24292d;
}

[data-quantity] {
  position: relative;
  width: 100%;
  max-width: 11rem;
  padding: 0;
  margin: 30px 0;
  border: 0;
}

[data-quantity] legend {
  display: none;
}

legend > fieldset > button {
  margin: 10px;
}

.apply-load {
  font-size: 18px;
  height: 2rem;
  padding: 0 4rem;
  border-radius: 5px;
  border: 0;
  background: #fff;
  color: #222;
  box-shadow: 0 10px 65px -10px rgba(0, 0, 0, 0.25);
  text-align: center;
  width: 25%;
  box-sizing: border-box;
  font-weight: lighter;
}

[data-quantity] input {
  font-size: 18px;
  height: 4rem;
  padding: 0 4rem;
  border-radius: 5px;
  border: 0;
  background: #fff;
  color: #222;
  box-shadow: 0 10px 65px -10px rgba(0, 0, 0, 0.25);
  text-align: center;
  width: 125%;
  box-sizing: border-box;
  font-weight: lighter;
}

[data-quantity] input:focus {
  outline: none;
  box-shadow: 0 5px 55px -10px rgba(0, 0, 0, 0.2), 0 0 4px #3fb0ff; /* Allows border radius on focus */
}

[data-quantity] input[type=number]::-webkit-inner-spin-button,
[data-quantity] input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[data-quantity] input[type=number] {

  -moz-appearance: textfield;
}

#sucess-message-users {
  position: absolute;
  top: 161px;
  left: 16px;
  border: 1px solid white;
  border-radius: 5px;
  /* background-color: rgba(29, 199, 24, 0.45); */
  padding: 6px;
  max-width: 194px;
}

[data-quantity] button {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 0.6rem;
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  background: #fff
  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><path d="M17 25h16M67 25h16M75 17v16" fill="none" stroke="rgb(59,69,66)" stroke-width="1.5px" stroke-linecap="round" stroke-linejoin="round" /></svg>')
  no-repeat 0 0;
  background-size: 5.6rem 2.4rem;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.15s;
  opacity: 0.8;
}

[data-quantity] button:active {
  background-position-y: 1px;
  box-shadow: inset 0 2px 12px -4px #c5d1d9;
}

[data-quantity] button:focus {
  outline: none;
}

[data-quantity] button:hover {
  opacity: 1;
}

[data-quantity] button.sub {
  left: 0.3rem;
}

[data-quantity] button.add {
  right: -1.6rem;
  background-position-x: -2.8rem;
}


.noDisplay {
  display: none;
}

